*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#cabecalho{
    height: 80px;
    background-color:rgb(130, 206, 236);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#menu{
    
    
    height: 500px;
    width: 450px;
    
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

#conteudo{
    height: 480px;
    width: 950px;
    background-color: rgb(185, 229, 247);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
#lado{
    height: 550px;
    width: 500px;
   
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}

#rodape{
    height: 50px;
    background-color: rgb(130, 206, 236);
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
button {
    background-color: rgb(130, 206, 236);
    border: none;
    color: beige;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  h4{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    text-align: center;
  }
  h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
  }
  h2{
    color:rgb(31, 25, 88);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
 
  h1{
    padding:center;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
  }
  h3{
    text-align: center;
  }
 


  td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid rgb(219, 241, 250);
    text-align: center;
   }
   
   table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
   }

   body{
    background-color: rgb(219, 241, 250);
   }
    p{
        color: rgb(31, 25, 88);
    }
    img{
      -webkit-transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
  }
   
  img:hover{
      -webkit-transform:scale(1);
      transform: scale(1.09);
   
   
  }